---
import ProductList from "@/components/ProductList.astro";
import Bracelet from "../components/Bracelet/Bracelet.vue";
import "../styles/globals.css";
import { Button } from "@/components/ui/button";
import CartFooterVue from "@/components/CartFooter.vue"
import Layout from "@/layouts/Layout.astro";
import Questionnaire from "@/components/Questionnaire/Questionnaire.vue";
import ImageSlider from "@/components/imageSlider.vue";
import BraceletPosts from "@/components/BraceletPosts.vue"

import { ref } from "vue";
import { getBookProducts, getFormById, signUp, signOut, login } from "../lib/tarpit_gql";

// const products = await getBookProducts();
// let form = await getFormById(4)
// let form2 = await getFormById(5)

let [ products, form, form2 ] = await Promise.all([getBookProducts(), getFormById(4), getFormById(5)]);

let info = [1,1,1]

const { cart, user } = Astro.locals as { cart: any, user: any };
const { session } = Astro.locals as unknown as { session: any };

// Below is Signup for Astro
const userExist = ref(false);

if (session && session.user_id && session.user_id.startsWith("guest")) {
  userExist.value = false;
} else if (session && session.user_id) {
  userExist.value = true;
}

if (Astro.request.method === "POST") {
  try {
    const data = await Astro.request.formData();

    const operation = String(data.get("operation"));

    if (operation == "logout") {
      await signOut(user?.email);

      Astro.cookies.delete("auth_session");
      return Astro.redirect("/");
    }

    if (operation === "signup") {
      const email = String(data.get("email"));
      const password = String(data.get("password"));

      // Do something with the data
      const encoder = new TextEncoder();
      const encoded_data = encoder.encode(String(password));

      let password_signature = await crypto.subtle.digest(
        "SHA-256",
        encoded_data
      );
      const hashArray = Array.from(new Uint8Array(password_signature)); // convert buffer to byte array
      const hashHex = hashArray
        .map((b) => b.toString(16).padStart(2, "0"))
        .join(""); // convert bytes to hex string

      let result = await signUp(email, hashHex);

      if (result) {
        const { user, session, cookie } = result;

        Astro.cookies.set(cookie.name, cookie.value, cookie.attributes);

        return Astro.redirect("/");
      }
    }

    if (operation == "login") {
      const email = String(data.get("email"));
      const password = String(data.get("password"));

      // Do something with the data
      const encoder = new TextEncoder();
      const encoded_data = encoder.encode(String(password));

      let password_signature = await crypto.subtle.digest(
        "SHA-256",
        encoded_data
      );
      const hashArray = Array.from(new Uint8Array(password_signature)); // convert buffer to byte array
      const hashHex = hashArray
        .map((b) => b.toString(16).padStart(2, "0"))
        .join(""); // convert bytes to hex string

      let result = await login(email, hashHex);

      if (result) {
        const { user, session, cookie } = result;

        Astro.cookies.set(cookie.name, cookie.value, cookie.attributes);

        return Astro.redirect("/");
      } else {
        console.error("Login failed: No result returned");
        return new Response(null,{
          status: 409,
          statusText: "Login failed"
        })
      }
    }
  } catch (error) {
    if (error instanceof Error) {
      console.error("Error in POST operation:", error.message);
    }
  }
}
---

<Layout>


  <main class="w-full" transition:animate="slide">
    
    <CartFooterVue client:only="vue" form={form} products={products} userExist={userExist.value} email={user.email} userId={user.id} userMetadata={user?.metadata} localCart={cart}/>

      <section class="sm:px-0 px-4 mb-12 w-full">

        <div class="w-full flex justify-center items-center flex-col">
          <p class="sm:w-[60%] w-full text-2xl text-salmon-400 text-center mb-4">揭开神秘的灵异世界，有趣的鬼故事集就在《真的友鬼》</p>
          <p class="sm:w-[60%] w-full sm:max-w-md text-center text-salmon-300">
            《真的友鬼》系列纯粹是以一个见到鬼的人的角度，把自己的所见所闻以文字呈现出来，让读者对这个灵异世界有更多的认识。《真的友鬼3》开始，故事也融入了主角老师解决灵界奇难杂症和旅行中所遇到的精彩灵异事件。神秘的灵异世界，就等你来探索！
          </p>
        </div>
  
        <div class="w-full flex justify-center items-center mt-4 space-x-4">
          <Button class="p-2 px-4 bg-salmon-100 min-h-0 h-auto rounded-full text-salmon-500 space-x-2 pl-3 hover:bg-salmon-500 hover:text-white scale-100 active:scale-95">
            <iconify-icon class="text-lg" icon="ic:baseline-facebook"></iconify-icon>
            <span>专页</span>
          </Button>
  
          <Button class="p-2 px-4 bg-salmon-100 min-h-0 h-auto rounded-full text-salmon-500 space-x-2 pl-3 hover:bg-salmon-500 hover:text-white scale-100 active:scale-95">
            <iconify-icon class="text-lg" icon="ri:messenger-fill"></iconify-icon>
            <span>私讯</span>
          </Button>
        </div>
      </section>

  
      <section class="sm:px-0 px-4 w-full flex flex-col justify-center items-center">
        <ProductList products={products} />
      </section>
  
      <hr class="my-8 border-salmon/10">
  
      <section class="sm:px-0 px-4 w-full flex flex-col justify-center items-center">

      <div class="w-full max-w-sm">

        <h2 class="text-2xl font-semibold text-center mb-4">五色绳</h2>

        <div class="w-full bg-white rounded-xl p-4">
          
          <div class="w-full bg-gray-100/50 aspect-square overflow-hidden rounded-md mb-2">
             <ImageSlider client:only="vue"></ImageSlider>
          </div>

          <div class="py-4">

            <div class="w-full flex justify-between items-center mb-2">
              
              <div>
                <p class="font-semibold">五色绳</p>
                <p>启动五行力量，引爆无限可能</p>
              </div>

              <div class="bg-salmon-400 text-white rounded-md p-1 px-2 text-sm">限量制作</div>
            </div>

            <p class="text-sm text-salmon-300">在编制加持的过程中，五色绳凝聚了各种能量，并能够激发佩戴者自身的潜在能量。无论是戴在手上作为护身符，还是变成锁匙扣使用，五色绳都具备独特的能量属性。它可以为佩戴者带来平安、吉祥和保护的力量。</p>

          </div>
          
          <!-- Pass cart as props to Bracelet -->
          <Bracelet client:only="vue" cart={cart} json_schema={form2.schema.definitions.zodSchema} field_config={form2.metadata.field_config}>
            <Button class="w-full p-2.5 px-5 bg-salmon-500 rounded-xl min-h-0 h-auto text-white space-x-2 hover:bg-salmon-100 hover:text-salmon-500 pl-3 text-xl">
              <iconify-icon class="text-2xl" icon="material-symbols:add"></iconify-icon>
              <span>订制五色绳</span>
            </Button>
          </Bracelet>
  
          </div>

          <BraceletPosts client:only="vue"></BraceletPosts>
  
        </div>
        <div class="w-full max-w-sm mt-4">

          <h2 class="text-2xl font-semibold text-center mb-4">问事</h2>

        <div class="w-full bg-white rounded-xl p-4">
          
          <div class="w-full bg-gray-100/50 aspect-video rounded-md mb-2">
            <img src="img/book6.png" alt="consult"  class="w-full max-w-[600px] h-auto max-h-[250px] bg-gray-300 rounded-[8px] object-cover">
          </div>

          <p class="py-4">有问题想咨询或请教老师者，欢迎前来“问事”。每次收费为RM100，提问问题不限。老师得空的时候会回复。
          </p>
          
          <Questionnaire client:only="vue" cart={cart} cartIndex={cart.items[10] + 1} >
            <Button class="w-full p-2.5 px-5 bg-salmon-500 rounded-xl min-h-0 h-auto text-white space-x-2 hover:bg-salmon-100 hover:text-salmon-500 pl-3 text-xl">
              <iconify-icon class="text-2xl" icon="material-symbols:add"></iconify-icon>
              <span>我要问事</span>
            </Button>
          </Questionnaire>
  
          </div>
  
        </div>
      </div>
  
  
      </section>
  
      <!-- <hr class="my-8 border-salmon/10">
  
  
      <section class="w-full flex justify-center items-center ">
  
        <div class="w-full max-w-sm flex justify-center items-center flex-col space-y-8">
  
          {
            info.map( () => 
            <div class="px-8 w-full">
            <div class="w-full aspect-square bg-white shadow-md rounded-xl">
            </div>
          </div>
          )
          }
  
        </div>
  
      </section> -->
  
  
      <section class="sm:px-0 px-4 w-full flex justify-center items-center pt-12 pb-[10vh]" >
        <p>© 真的友鬼 2024</p>
      </section>

  </main>

</Layout>