---
import Layout from "@/layouts/Layout.astro";
import ProfileSetting from "../components/Profile/ProfileSetting.vue";
import "../styles/globals.css";

const { user } = Astro.locals as { user: any };
---

<Layout title="帐户设置">

    <main class="w-full h-full overflow-y-auto relative">
        <section class="w-full flex flex-col justify-center items-center">
            <ProfileSetting client:only="vue" chineseName={user.metadata.chineseName} englishName={user.metadata.englishName} phoneNumber={user.metadata.phoneNumber} address={user.metadata.address} email={user.email} />
        </section>
    </main>

</Layout>