---
const { products } = Astro.props;
import AddButton from '@/components/Product/AddButton.vue';
import { Button } from "@/components/ui/button";
import LatestProductAddButton from './Product/LatestProductAddButton.vue';
---

<div class="max-w-sm w-full ">
  <article class="w-full bg-white p-4 rounded-3xl shadow-lg shadow-slate-100/5">
    {
      products.filter((product:any) => product.id==11).map((product:any) => (
        <img class="rounded-xl bg-gray-100/50 aspect-square object-cover" src={product.media.image} alt="真的友鬼7" />
        <div class="w-full flex justify-between items-center mt-4">
          <div class="col-span-3">
            <strong class="text-salmon-400 text-2xl tracking-wide">真的友鬼7</strong>
            <p>RM 25.00</p>
          </div>
          <div class="flex justify-center items-center">
            <LatestProductAddButton client:only="vue" product={product} />
          </div>
        </div>
      ))
    }
  </article>

  {
    products.filter((product: any) => product.id != 9 && product.id != 11).map((product: any) => (
      <div class="w-full grid grid-cols-10 gap-2 mt-4 justify-center items-center">
        <img src={product.media.image} alt="Product Image" class="w-full col-span-2 aspect-square bg-white rounded-xl object-cover" />
        <div class="col-span-5">
          <h3 class="text-lg font-semibold">{product.name}</h3>
          <p>RM {product.price}.00</p>
        </div>
        <div class="col-span-3">
          <AddButton client:only="vue" product={product} />
        </div>
      </div>
    ))
  }
</div>
